body {
    background-color: hsl(212, 45%, 89%);
}

.qr-container {
    background-color: hsl(0, 0%, 100%);
    width: 16rem;
    border-radius: 8px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

.qr-image {
    width: 100%;
}

.qr-image img {
    width: 100%;
    border-radius: 6px;
}

.qr-text-content {
    text-align: center;
    font-family: Outfit;
}

.qr-text-content .qr-title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.qr-text-content .qr-description {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}